
*{
  /* border: 1px solid green; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  background-color: #000;
}
.navbar a{
  text-decoration: none;
  color: white;
  position: relative;
  padding: 0.1rem;
}

.navbar a:last-child{
  background-color: #000;
  color: #fff;
  border: 1px solid white;
  padding: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
}
.navbar a:last-child:hover{
  background-color: #333;
  transition: background-color 0.3s ease;
}
.navbar a:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}